// SET YOUR STYLES HERE
$button_styles: "primary" $action_primary white,
								"warning" $action_warning $base_color,
								"danger"  $action_danger $base_color,
								"info"    $action_info $base_color,
								"white"   white $base_color,
								"default" $secondary_color $base_color,
								"success" $action_success $base_color;

// Style options

$button_default_size: 15px;
$button_border_radius: 2px;
$button_padding: 5px;

/*Primary button*/
.btn{

	@include typo_brand_strong;
	outline: none !important;

	border-radius: $button_border_radius;
	font-size: $button_default_size;

	text-transform: uppercase;

	padding-top: $button_padding;
	padding-bottom: $button_padding;

	// STYLES FROM $button_styles on top
	@each $style in $button_styles{
		$loop_button_name: nth($style, 1);
		$loop_button_color: nth($style, 2);
		$loop_label_color: nth($style, 3);

		// COLORS
		&.btn-#{$loop_button_name}{
			background: $loop_button_color;
			color: $loop_label_color;
			border-color: $loop_button_color;

			&:hover{
				background: lighten($loop_button_color, 5%);
				border-color: lighten($loop_button_color, 5%);
			}

			&:active, &.active{
				background: darken($loop_button_color, 5%);
				border-color: darken($loop_button_color, 5%);
				box-shadow: none;
				// box-shadow: inset 0px 3px 3px darken($loop_button_color, 10%);
			}

			&.btn-outline{
				color: $loop_button_color;
				border: 2px solid $loop_button_color;
				background: transparent;

				&:hover, &.hover{
					color: $loop_label_color;
					background: $loop_button_color;
				}

				&:active, &.active{
					// color: black;
					background: darken($loop_button_color, 5%);
				}
			}

			&.btn-line{
				color: $loop_button_color;
				border: none;
				background: transparent;
				text-decoration: underline;
				padding: 0px;
				&:hover{
					text-decoration: none;
				}
			}

			&.btn-wider{
				padding-left: 30px;
				padding-right: 30px;
			}
		}



	}

	&.btn-material{
		overflow: hidden;
		position: relative;

		&::before{
			content: "";
			display: block;
			background: rgba(255, 255, 255, 0.2);
			width: 10px;
			height: 10px;
			position: absolute;
			left: 45%; top: 45%;
			border-radius: 50%;
			transform: scale(0);
			z-index: 0;
		}

		&:active, &.active{
			&::before{
				transition: transform .5s ease;
				transform: scale(30);
			}
		}
	}

	&.btn-responsive{
		width: 100%;
	}
}




// Hamburger menu customization
.navbar-toggle.ci-hamburger {

	border: none !important;

	&:hover,&:active,&:focus{
		background: transparent;
	}

	.icon-bar{
		width: 30px;
		+.icon-bar{
			margin-top: 8px;
		}
	}
}
