.form-inline{
  .form-group{
    margin-right: 15px;

    &:last-child{
      margin-right: 0px;
    }
  }
}

.form-row{
  @extend .row !optional;

  @include media($breakpoint_sm){
    .form-group{
      margin-bottom: 0px;
    }
  }

  [class^="col-"], [class*=" col-"]{
    padding-left: 0;
  }


  @include media_max($breakpoint_sm){
    [class^="col-"], [class*=" col-"]{
      padding-left: 0;
      padding-right: 0;
    }
  }


}

.form-control{
	height: 40px;
  font-size: 15px;
  @include typo_brand_weak;
  color: $base_color;

  padding: 10px 0px 5px 0px;

  border: none;
  border-bottom: 2px solid $secondary_color;
  border-radius: 0px;

  border-width: 2px;
  border-color: $gray;

  box-shadow: none;

  &:focus{
    border-color: $primary_color;

    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
