.modal{
  .modal-dialog{

    .modal-content{
      box-shadow: none;
      border: none;
      background-color: transparent;
    }
  }
}

.modal-backdrop{
  background-color: white;
  &.in{
    opacity: 0.95;
  }
}

.modal.fade .modal-dialog{
  -webkit-transform: translate(0,25%);
  -ms-transform: translate(0,25%);
  transform: translate(0,25%);
  -webkit-transition: -webkit-transform 2s cubic-bezier(0.04, 1.18, 0.42, 0.96);
  -moz-transition: -moz-transform 2s cubic-bezier(0.04, 1.18, 0.42, 0.96);
  -o-transition: -o-transform 2s cubic-bezier(0.04, 1.18, 0.42, 0.96);
  transition: transform 2s cubic-bezier(0.04, 1.18, 0.42, 0.96);
}

.modal.in .modal-dialog{
  -webkit-transform: translate(0,0%);
  -ms-transform: translate(0,0%);
  transform: translate(0,0%);
}
