/*Body*/
body{
	@include typo_brand_weak;
	color: $base_color;

	@if($navbar_fixed_top){
		&:not(.home){
			padding-top: 80px;
		}
	}
}

.container{
	max-width: $container_max_width;
}

.project{
	label{
		font-weight: 500;

		margin-bottom: 0;
		font-size: 18px;
	}
}

// Content sections style
@import "components/sections";

hr{
	border-color: #FAFAFA;
	margin-bottom: 30px;

	@media (min-width: 768px){
		margin-bottom: 50px;
	}


	&.half-rule {
		width: 100px;
		margin: 40px auto;
	}

	&.hr-inverse{
		border-color: rgba(255,255,255, 0.5);
	}

	&.mr-cinnamon:after{
		content: "";
		display: block;

		width: 40px; height: 38px;

		background: url(http://www.google.com/inbox/assets/images/common/logo-nav.png);
		background-size: contain;

		margin: auto;
		margin-top: -20px;
	}
}


.invisible-marker{
	overflow: hidden; opacity: 0; height: 0; position: relative;

	top: -40px;

	&.marker-no-line{
		top: -80px;
	}

	@media (min-width: 768px){
		top: -2px;

		&.disable-desktop{
			top: 0;
		}

		&.marker-no-line{
			top: -80px;
		}
	}

}


.hide-before-preload,.show-after-preload{
	opacity: 0;
	@include cB(transition, opacity .5s ease);

	&.enter{
		opacity: 1;
	}
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}


.window-sized{
	-webkit-transition: min-height .4s ease, height .4s ease;
	-moz-transition: min-height .4s ease, height .4s ease;
	-ms-transition: min-height .4s ease, height .4s ease;
	-o-transition: min-height .4s ease, height .4s ease;
	transition: min-height .4s ease, height .4s ease;
}
.vertically-aligned{
	position: absolute;

	-webkit-transition: top .4s ease;
	-moz-transition: top .4s ease;
	-ms-transition: top .4s ease;
	-o-transition: top .4s ease;
	transition: top .4s ease;
}


#contenteffect{
  transform: translateY(70px);

	&.present{
		transition: transform 2s .1s cubic-bezier(0.08, 1.18, 0.69, 1.01);
		transform: translateY(0px);
	}
}

// Home effect
#presenter{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	$fill_m_2: white 10%;
	$fill_m_1: transparent 10%;
	background: -webkit-radial-gradient(circle, $fill_m_1, $fill_m_2);
	background: -o-radial-gradient(circle, $fill_m_1, $fill_m_2);
	background: -moz-radial-gradient(circle, $fill_m_1, $fill_m_2);
	background: radial-gradient(circle, $fill_m_1, $fill_m_2);

	background-color: white;

	z-index: 1080;

	// @include cB(transition, transform 1.5s ease);

	background-size: 100%;
	background-position: center;

	transform: scale(1);
	&.present{
		-webkit-transition: -webkit-transform 1.5s ease, background-color .8s ease;
		-moz-transition: -moz-transform 1.5s ease, background-color .8s ease;
		-ms-transition: -ms-transform 1.5s ease, background-color .8s ease;
		-o-transition: -o-transform 1.5s ease, background-color .8s ease;
		transition: transform 1.5s ease, background-color .8s ease;

		background-color: transparent;
		transform: scale(10);
	}
}

// Project page
body.project-page{
	// Contains markdown rendering
	#project-content{
		p{
			text-align: justify;
			font-size: 18px;
			line-height: 1.5;
		}

		img{
			width: 100%;
		}
	}
}

// Extensions for specific classes
.project,.career-experience,.repository{
	@extend .pressable;
}
